body {
	background-image: url("background.jpeg");
	font-family: 'Times New Roman', Times, serif;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat:no-repeat;
 }

 a:hover {
 	color: Blue;

 }
 img {
    width: 300px;
    border-radius: 100%;
}

 span {
 	color: red;
 	font-weight: bold;
 }



 main {
 	margin-left: auto ;
 	margin-right: auto;
 	width: 100%;
 	display: block;
 }

 .profile {
 	flex-basis: 33%;
 	padding: 2em;
	margin-left: auto;
	margin-righ: auto;
	text-align: center;

 }

 .wrapper {
	clear: both;
	margin-left: auto;
 	margin-right: auto;
	width: 95%%;
    height: 490px;
	padding-left: 5em;
	display: flex;
}


 .assignment {
 	flex-basis: 67%;
 	padding: 2em;
	margin: 2em;
 }

 .quote {
 	padding-top: 0em;
 	text-align: center;
 	font-style: italic;
	width: 100%;
	border-style: solid;
 }

table {
	width: 100%;
}
tr:nth-child(odd) {
	background-color: #cbc;
}

tr, th {
	width: 50%;
	text-align: center;
}


.hobbies {
	float: center;
	flex-basis: 70%;
	padding-left: 10em;
}

.work {
	flex-basis: 30%%;
	float: left	;
	
}

.school {
	font-weight: bolder;
}

.major {
	font-style: italic;
}



.favorite_links {
	font-style: italic;
}
